{% extends 'layouts/cork/base.html' %}
{% load static %}

 {% load widget_tweaks %}
 {% load crispy_forms_tags %}
{% block head-css %}
    <link href="{% static 'cork/plugins/apex/apexcharts.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'cork/assets/css/dashboard/dash_1.css'%}" rel="stylesheet" type="text/css" class="dashboard-analytics" />
    <link rel="stylesheet" type="text/css" href="{% static 'sass/assets/css/elements/alert.css'%}">
     <link href="{% static 'sass/plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'sass/plugins/table/datatable/datatables.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'sass/plugins/table/datatable/dt-global_style.css'%}">

{% endblock %}
{% block app-Title%}
   Tableau de Bord
{% endblock %}

{% block button-action%}
   <div class="notification-action-btns d-lg-block d-flex justify-content-between flex-sm-row flex-column">
        <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
              <i class="fas fa-calendar"></i>&nbsp;
              <span></span> <i class="fa fa-caret-down"></i>
        </div>
   </div>
{% endblock %}
{% block content %}
     <div class="row layout-top-spacing">

                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-chart-one">
                            <div class="widget-heading">
                                <h5 class="">Alert par type et par source d'information</h5>
                                <div class="task-action">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="pendingTask" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <div class="widget-content">
                                <div id="alertMonthly"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-chart-two">
                            <div class="widget-heading">
                                <h5 class="">Alert Par Source d'Information</h5>
                            </div>
                            <div class="widget-content">
                                <div id="source" class=""></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-table-three">

                            <div class="widget-heading">
                                <h5 class="">Alerts Recentes</h5>
                            </div>

                            <div class="widget-content">
                                <div class="table-responsive">
                                     <table id="invoice-list" class="table table-hover" style="width:100%" >
                                <thead>
                                    <tr>
                                        <th class="checkbox-column"> Record no. </th>

                                          <th>Source Information</th>
                                        <th>Date & Heures </th>
                                        <th>Evenement</th>
                                        <th>Commune/Quatier</th>
                                        <th>Description</th>

                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                 <tbody>
                                {% for alert in alerts %}
                                    <tr>
                                        <td class="checkbox-column"> 1 </td>

                                        <td>
                                            {{ alert.source_information.libelle }}
                                        </td><td>
                                            {{ alert.datedebut }}
                                        </td>
                                        <td>{{ alert.type.libelle }}</td>
                                        <td>{{ alert.commune.nom }}/ <br>{{ alert.lieu }}</td>

                                        <td>{{ alert.description }}</td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                                                    <a class="dropdown-item action-edit" href="{% url 'update' alert.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg>Edit</a>
                                                    <a class="dropdown-item action-delete" href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                  {%  endfor %}
                                </tbody>
                            </table>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

{% endblock %}

{% block foot-javascript %}
    <script src="{% static 'sass/plugins/apex/apexcharts.min.js'%}"></script>
    <script src="{% static 'sass/plugins/moment/moment.min.js'%}"></script>
    <script src="{% static 'sass/plugins/daterangepicker/daterangepicker.min.js'%}"></script>
    <script src="{% static 'sass/plugins/moment/moment-with-locales.min.js'%}"></script>
    <script src="{% static 'cork/assets/js/dashboard/dash_1.js'%}"></script>
    <script src="{% static 'sass/plugins/table/datatable/datatables.js'%}"></script>
    <script src="{% static 'sass/plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
    <script>

       var invoiceList = $('#invoice-list').DataTable({
    "dom": "<'inv-list-top-section'<'row'<'col-sm-12 col-md-6 d-flex justify-content-md-start justify-content-center'l<'dt-action-buttons align-self-center'B>><'col-sm-12 col-md-6 d-flex justify-content-md-end justify-content-center mt-md-0 mt-3'f<'toolbar align-self-center'>>>>" +
        "<'table-responsive'tr>" +
        "<'inv-list-bottom-section d-sm-flex justify-content-sm-between text-center'<'inv-list-pages-count  mb-sm-0 mb-3'i><'inv-list-pagination'p>>",

    headerCallback:function(e, a, t, n, s) {
        e.getElementsByTagName("th")[0].innerHTML='<label class="new-control new-checkbox checkbox-primary m-auto">\n<input type="checkbox" class="new-control-input chk-parent select-customers-info" id="customer-all-info">\n<span class="new-control-indicator"></span><span style="visibility:hidden">c</span>\n</label>'
    },
    columnDefs:[ {
        targets:0,
        width:"30px",
        className:"",
        orderable:!1,
        render:function(e, a, t, n) {
            return'<label class="new-control new-checkbox checkbox-primary  m-auto">\n<input type="checkbox" class="new-control-input child-chk select-customers-info" id="customer-all-info">\n<span class="new-control-indicator"></span><span style="visibility:hidden">c</span>\n</label>'
        },
    }],
    buttons: [
        {
            text: 'Ajouter un Evenement',
            className: 'btn btn-primary btn-sm',
            action: function(e, dt, node, config ) {
                window.location = '{% url 'create' %}';
            }
        }
    ],
    "order": [[ 1, "asc" ]],
    "oLanguage": {
        "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
        "sInfo": "Showing page _PAGE_ of _PAGES_",
        "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
        "sSearchPlaceholder": "Search...",
        "sLengthMenu": "Results :  _MENU_",
    },
    "stripeClasses": [],
    "lengthMenu": [7, 10, 20, 50],
    "pageLength": 7
});
    moment.locale("fr")
                /*let start = moment().subtract(29, 'days');
                let end = moment();*/
                let start = moment().startOf('year');
                let end = moment();
    function url(route, start, end) {
                            var url = route;
                            // url = url.replace('dash.number',dash.number);
                            url = url.replace(':start',start.format("YYYY-MM-DD"));
                            url = url.replace(':end',end.format("YYYY-MM-DD"));
                            return url;
                        }
    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
         $.ajax({
                        type:'GET',
                        url: url('{% url 'dash_line' ':start' ':end' %}',start, end ),
                        success: function(response){

                            result = [];
                            for( i in response) {

                                result.push( {
                                    'name':response[i].name,
                                    'data':response[i].data,

                                })
                            }


                            var options1 = {
                                            chart: {
                                              fontFamily: 'Nunito, sans-serif',
                                              height: 365,
                                              type: 'area',
                                              zoom: {
                                                  enabled: false
                                              },
                                              dropShadow: {
                                                enabled: true,
                                                opacity: 0.2,
                                                blur: 10,
                                                left: -7,
                                                top: 22
                                              },
                                              toolbar: {
                                                show: false
                                              },
                                              events: {
                                                mounted: function(ctx, config) {
                                                  const highest1 = ctx.getHighestValueInSeries(0);
                                                  const highest2 = ctx.getHighestValueInSeries(1);

                                                  ctx.addPointAnnotation({
                                                    x: new Date(ctx.w.globals.seriesX[0][ctx.w.globals.series[0].indexOf(highest1)]).getTime(),
                                                    y: highest1,
                                                    label: {
                                                      style: {
                                                        cssClass: 'd-none'
                                                      }
                                                    },
                                                    customSVG: {
                                                        SVG: '<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="#1b55e2" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>',
                                                        cssClass: undefined,
                                                        offsetX: -8,
                                                        offsetY: 5
                                                    }
                                                  })

                                                  ctx.addPointAnnotation({
                                                    x: new Date(ctx.w.globals.seriesX[1][ctx.w.globals.series[1].indexOf(highest2)]).getTime(),
                                                    y: highest2,
                                                    label: {
                                                      style: {
                                                        cssClass: 'd-none'
                                                      }
                                                    },
                                                    customSVG: {
                                                        SVG: '<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="#e7515a" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>',
                                                        cssClass: undefined,
                                                        offsetX: -8,
                                                        offsetY: 5
                                                    }
                                                  })
                                                },
                                              }
                                            },
                                            //colors: ['#1b55e2', '#e7515a'],
                                            dataLabels: {
                                                enabled: false
                                            },
                                            markers: {
                                              discrete: [{
                                              seriesIndex: 0,
                                              dataPointIndex: 7,
                                              fillColor: '#000',
                                              strokeColor: '#000',
                                              size: 5
                                            }, {
                                              seriesIndex: 2,
                                              dataPointIndex: 11,
                                              fillColor: '#000',
                                              strokeColor: '#000',
                                              size: 4
                                            }]
                                            },
                                            subtitle: {
                                              text: response[0].total,
                                              align: 'left',
                                              margin: 0,
                                              offsetX: 95,
                                              offsetY: 0,
                                              floating: false,
                                              style: {
                                                fontSize: '18px',
                                                color:  '#4361ee'
                                              }
                                            },
                                            title: {
                                              text: 'Total Alert',
                                              align: 'left',
                                              margin: 0,
                                              offsetX: -10,
                                              offsetY: 0,
                                              floating: false,
                                              style: {
                                                fontSize: '18px',
                                                color:  '#0e1726'
                                              },
                                            },
                                            stroke: {
                                                show: true,
                                                curve: 'smooth',
                                                width: 2,
                                                lineCap: 'square'
                                            },
                                            series: result,
                                            labels: response[0].axies,
                                            xaxis: {
                                              axisBorder: {
                                                show: false
                                              },
                                              axisTicks: {
                                                show: false
                                              },
                                              crosshairs: {
                                                show: true
                                              },
                                              labels: {
                                                offsetX: 0,
                                                offsetY: 5,
                                                style: {
                                                    fontSize: '12px',
                                                    fontFamily: 'Nunito, sans-serif',
                                                    cssClass: 'apexcharts-xaxis-title',
                                                },
                                              }
                                            },
                                            yaxis: {
                                              labels: {
                                                formatter: function(value, index) {
                                                  return (value)
                                                },
                                                offsetX: -22,
                                                offsetY: 0,
                                                style: {
                                                    fontSize: '12px',
                                                    fontFamily: 'Nunito, sans-serif',
                                                    cssClass: 'apexcharts-yaxis-title',
                                                },
                                              }
                                            },
                                            grid: {
                                              borderColor: '#e0e6ed',
                                              strokeDashArray: 5,
                                              xaxis: {
                                                  lines: {
                                                      show: true
                                                  }
                                              },
                                              yaxis: {
                                                  lines: {
                                                      show: false,
                                                  }
                                              },
                                              padding: {
                                                top: 0,
                                                right: 0,
                                                bottom: 0,
                                                left: -10
                                              },
                                            },
                                            legend: {
                                              position: 'top',
                                              horizontalAlign: 'right',
                                              offsetY: -50,
                                              fontSize: '16px',
                                              fontFamily: 'Nunito, sans-serif',
                                              markers: {
                                                width: 10,
                                                height: 10,
                                                strokeWidth: 0,
                                                strokeColor: '#fff',
                                                fillColors: undefined,
                                                radius: 12,
                                                onClick: undefined,
                                                offsetX: 0,
                                                offsetY: 0
                                              },
                                              itemMargin: {
                                                horizontal: 0,
                                                vertical: 20
                                              }
                                            },
                                            tooltip: {
                                              theme: 'dark',
                                              marker: {
                                                show: true,
                                              },
                                              x: {
                                                show: false,
                                              }
                                            },
                                            fill: {
                                                type:"gradient",
                                                gradient: {
                                                    type: "vertical",
                                                    shadeIntensity: 1,
                                                    inverseColors: !1,
                                                    opacityFrom: .28,
                                                    opacityTo: .05,
                                                    stops: [45, 100]
                                                }
                                            },
                                            responsive: [{
                                              breakpoint: 575,
                                              options: {
                                                legend: {
                                                    offsetY: -30,
                                                },
                                              },
                                            }]
                                }




                             var chart1 = new ApexCharts(
                                document.querySelector("#alertMonthly"),
                                options1
                                );

                            chart1.render();

                                $.ajax({
                        type:'GET',
                        url: url('{% url 'dash_pie' ':start' ':end' %}',start, end ),
                        success: function(response){

                           var options = {
                                      chart: {
                                          type: 'donut',
                                          width: 380
                                      },
                                      //colors: ['#2196f3', '#e2a03f', '#8738a7'],
                                      dataLabels: {
                                        enabled: false
                                      },
                                      legend: {
                                          position: 'bottom',
                                          horizontalAlign: 'center',
                                          fontSize: '14px',
                                          markers: {
                                            width: 10,
                                            height: 10,
                                          },
                                          itemMargin: {
                                            horizontal: 0,
                                            vertical: 8
                                          }
                                      },
                                      plotOptions: {
                                        pie: {
                                          donut: {
                                            size: '65%',
                                            background: 'transparent',
                                            labels: {
                                              show: true,
                                              name: {
                                                show: true,
                                                fontSize: '14px',
                                                fontFamily: 'Nunito, sans-serif',
                                                color: undefined,
                                                offsetY: -10
                                              },
                                              value: {
                                                show: true,
                                                fontSize: '26px',
                                                fontFamily: 'Nunito, sans-serif',
                                                color: '20',
                                                offsetY: 16,
                                                formatter: function (val) {
                                                  return val
                                                }
                                              },
                                              total: {
                                                show: true,
                                                showAlways: true,
                                                label: 'Total',
                                                color: '#888ea8',
                                                formatter: function (w) {
                                                  return w.globals.seriesTotals.reduce( function(a, b) {
                                                    return a + b
                                                  }, 0)
                                                }
                                              }
                                            }
                                          }
                                        }
                                      },
                                      stroke: {
                                        show: true,
                                        width: 25,
                                      },
                                      series: response[0].series,
                                      labels: response[0].label,
                                      responsive: [{
                                          breakpoint: 1599,
                                          options: {
                                              chart: {
                                                  width: '350px',
                                                  height: '400px'
                                              },
                                              legend: {
                                                  position: 'bottom'
                                              }
                                          },

                                          breakpoint: 1439,
                                          options: {
                                              chart: {
                                                  width: '250px',
                                                  height: '390px'
                                              },
                                              legend: {
                                                  position: 'bottom'
                                              },
                                              plotOptions: {
                                                pie: {
                                                  donut: {
                                                    size: '65%',
                                                  }
                                                }
                                              }
                                          },
                                      }]
                                  }

                                  var chart = new ApexCharts(
                                      document.querySelector("#source"),
                                      options
                                  );
                            chart.render();







                            alert(cData)
                        }
                    });

                        }
                    });
    }
    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        "locale": {
                    "format": "MM/DD/YYYY",
                    "separator": " - ",
                    "applyLabel": "Appliquer",
                    "cancelLabel": "Annuler",
                    "fromLabel": "de",
                    "toLabel": "a",
                    "customRangeLabel": "Personaliser",
                    "daysOfWeek": [
                        "Dim",
                        "Lun",
                        "Mar",
                        "Mer",
                        "Jeu",
                        "Ven",
                        "Sam"
                    ],
                    "monthNames": [
                        "Janvier",
                        "Fevrier",
                        "Mars",
                        "Avril",
                        "Mai",
                        "Juin",
                        "Juillet",
                        "Aout",
                        "Septembre",
                        "Octobre",
                        "Novembre",
                        "Decembre"
                    ],
                    "firstDay": 1
        },
        ranges: {
            "Jusqu 'aujourd'hui": [moment().startOf('year'), moment()],
            "Aujourd'hui": [moment(), moment()],
           'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'les 7 Derniers Jours': [moment().subtract(6, 'days'), moment()],
           'les 30 Derniers Jours': [moment().subtract(29, 'days'), moment()],
           'Ce Mois': [moment().startOf('month'), moment().endOf('month')],
           'le Mois dernier': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
           'Année en Cours': [moment().startOf('year'), moment().endOf('year')],
           'An derniers': [moment().subtract(1, 'years'), new Date()],
           'Il y a deux ans': [moment().subtract(2, 'years'), new Date()],
           'Il y a trois(3) ans': [moment().subtract('years', 3), new Date()]
        }
    }, cb);
    cb(start, end);



    </script>
{% endblock %}
