
{% load static %}
    <link href="{% static 'fonts/fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'fonts/fontawesome/css/v4-shims.css' %}" rel="stylesheet">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="{% static 'cork/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'cork/assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'cork/plugins/perfect-scrollbar/perfect-scrollbar.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'cork/plugins/highlight/styles/monokai-sublime.css'%}" rel="stylesheet" type="text/css" />
